.card-img{
    height: 287px;
    background: linear-gradient(75.04deg, #F4E8F3 0%, #F3EFF6 52.07%, #EEE0F9 102.02%);
    display: flex;
    gap: 506px;
    justify-content: center;
    align-items: center;

}

.content-child1{
    display: flex;
    flex-direction: column;
    gap: 43px;
}

.top-heading{
font-size: 34px;
font-weight: 700;
line-height: 41.15px;
text-align: left;
color:#3A4980;
width: 377px;

}

.btn{
    width: 136px;
height: 49px;
background: #3A4980;
color: white;
font-weight: 500;
border-radius: 24px;
}

.content-child2{
    height: 100%;
}

.img1{
    height: 100%;
}

.main-content{
    padding: 49px 80px;
    display: flex;
    gap: 21px;
}

.filter-container{
    width: 304px !important;
    display: flex;
    flex-direction: column;
    gap: 23px;
    
    
}

.filter-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 304px !important;
}

.filter-header1{
font-size: 20px;
font-weight: 500;
text-align: left;
color:#140342;


}

.filter-header2{
    padding: 10px 20px 10px 20px;

    border-radius: 30px ;
    border: 1px solid rgb(181, 180, 180);
    

}

.filter-content{
 
padding: 17px ;
border: 1px solid rgb(231, 229, 229);
border-radius: 4px;
display: flex;
flex-direction: column;
gap: 29px;

}

.filter-content1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cate{
font-size: 20px;
font-weight: 500;
line-height: 24.2px;
text-align: left;

}

.filter-content2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.checkbox-cate{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.card1-listing{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card1-listing-container{
    display: flex;
    flex-direction: column;
    gap: 44px;
}

.pagination-container{
    
width: 100%;
display: flex;
justify-content: center;
align-items: center;

}

.pagination-inner-container{
    width: 476px;
    height: 40px;
    
    
    display: flex;
    gap: 8px;
}


.previous{
font-size: 14px;
font-weight: 400;
line-height: 16.94px;
text-align: left;
padding: 10px;
border-radius: 6px;

color:  #667085;
border: 1px solid rgb(222, 219, 219);
}

.next{
font-size: 14px;
font-weight: 400;
line-height: 16.94px;
text-align: left;
padding: 10px;
border-radius: 6px;

color:  #667085;
border: 1px solid rgb(222, 219, 219);
}

.num{
    font-size: 14px;
font-weight: 400;
line-height: 16.94px;
text-align: left;
padding: 10px 14px;
border-radius: 6px;

color:  #667085;
border: 1px solid rgb(222, 219, 219);


font-size: 14px;
font-weight: 600;
line-height: 16.94px;
text-align: left;


}

.num-active{
    background: linear-gradient(75.04deg, #F4E8F3 0%, #F3EFF6 52.07%, #EEE0F9 102.02%);
color: #140342;
}

.footer1{
    padding: 49px 80px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.inner-footer1{
    border-top: 1px solid rgb(207, 206, 206);
    border-bottom: 1px solid rgb(207, 206, 206);
    padding: 56px 0px;
    display: flex;
    gap: 136px;
    /* justify-content: space-between; */
   
}

.add{
    width: 285px;
height: 72px;

font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;
color: #9F9F9F;



}

.contact1{
    display: flex;
    justify-content: space-between;
    
     width: 710px;
    
}

.contact1-1{
    
    display: flex;
    justify-content: space-evenly;
    width: 100%;
   
}

.add-list{
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.add-gary{
font-size: 16px;
font-weight: 500;
line-height: 24px;
text-align: left;
color: #9F9F9F;

}

.add-black{
color: #000000;
font-size: 16px;
font-weight: 500;
line-height: 24px;
text-align: left;


}

.news-content{
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 53px;
}

.sub-content{
    display: flex;
    width: 100% ;
    gap: 15px;
    
}

.sub-input{
    border: none;
    border-bottom: 2px solid;
    width: 158px;
}

.sub{
color: black;
text-decoration: underline;
font-size: 14px;
font-weight: 600;
line-height: 21px;
text-align: left;

}

.rigts-content{
    width: 306px;
height: 24px;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;
color: #000000;


}